# Ignore node_modules to avoid copying them into the container
node_modules

# Ignore build output
dist
out-tsc

# Ignore environment files
*.env
*.local

# Ignore logs and temporary files
npm-debug.log
yarn-debug.log
yarn-error.log
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE and editor settings
.vscode
.idea
*.swp
*.swo
*.swn

# Ignore Git-related files
.git
.gitignore

# Ignore Docker-specific files (optional)
.dockerignore
Dockerfile
