/* Custom styles for the drawer button */
.drawer-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
}

.line {
  width: 20px; /* Match width with .hamburger-icon */
  height: 3px; /* Line thickness */
  background-color: black; /* Color of the lines */
}


/* Optional: Add some spacing to the button */
.drawer-button {
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
}
