/* Custom styles for the drawer button */
.drawer-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
}

.line {
  width: 20px; /* Match width with .hamburger-icon */
  height: 3px; /* Line thickness */
  background-color: black; /* Color of the lines */
}


/* Optional: Add some spacing to the button */
.drawer-button {
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
}



:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full viewport height */
  margin: 0;
}

main.content {
  flex: 1; /* Take up remaining space */
  overflow-y: auto; /* Enable scrolling if content exceeds viewport */
  padding: 20px; /* Adjust as needed */
}

.footer {
  background-color: #1c2331;
  color: white;
  width: 100%;
  height: 60px; /* Fixed height */
  margin-top: auto; /* Push the footer to the bottom */
}








