

<!-- FIXED HEADER COMPONENT THROUGH OUT THE APPLICATION -->
<app-headerpage></app-headerpage>

<main class="content">
  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-start">
        <button title="drawer" type="button" class="btn btn-light drawer-button" (click)="toggleDrawer()">
          <div class="hamburger-icon">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </button>
        <h1 class="ml-2">Options</h1>
      </div>
    </div>
  </div>

  <!-- Drawer Component -->
  <app-drawerpage></app-drawerpage>
  <!-- Container for text -->
<div class="container my-2">
  <h2>Artifical Intelligence Services</h2>
  <p>
    Here we are providing different AI AND ML services on the data that we are receiving from all areas in Southeast Asia,
    especially Pakistan, India, Iran, and Afghanistan. Our services help to correctly visualize this data into different layers
    on the map, providing clear and actionable insights.
  </p>
</div>

<app-bar-graph></app-bar-graph>


</main>

<!-- FIXED FOOTER COMPONENT THROUGH OUT THE APPLICATION -->
<app-footerpage class="footer"></app-footerpage>

