
/* General Container Styles */
.container {
  padding: 0 15px;
}

/* Container for heading and text */
.container {
  text-align: center; /* Center-align heading and text */
  margin-bottom: 2rem; /* Add margin below the container */
}

/* Container for map */
.container-isotherm {
  display: flex; /* Use flexbox to center the map */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 80vh; /* Adjust height as needed */
}

/* Map Styles */
#map2 {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd; /* Optional: border around the map */
}
