<!-- Container for heading and text-->
<div class="container my-4">
  <h1>PDM VISUALIZATION TOOLS</h1>
</div>
<div class="button-row">
  <button (click)="toggleIsobarLayer()">
    {{ isobarLayerVisible ? 'Hide Isobars' : 'Show Isobars' }}
  </button>

  <button (click)="toggleStationMarkers()">
    {{ stationMarkersVisible ? 'Hide Stations' : 'Show Stations' }}
  </button>

  <button (click)="togglePngOverlay()">
    {{ pngOverlayVisible ? 'Hide Image Overlay' : 'Show Image Overlay' }}
  </button>
</div>
<div class="container-isotherm">
  <div id="map2"></div>
</div>




