<div class="drawer" [ngClass]="{'drawer-open': isDrawerOpen}" (mouseenter)="hoverDrawer(true)" (mouseleave)="hoverDrawer(false)">
  <div class="drawer-content">
    <div class="drawer-header">
      <span class="close-icon" (click)="closeDrawer()">&larr;</span> <!-- Arrow to close -->
      <h4 class="drawer-title d-flex align-items-center justify-content-center">
          <img src="../../../assets/icons/pmd.ico" alt="PMD Icon" class="drawer-icon"> P M D
      </h4>
    </div>

    <div class="drawer-body">
      <a routerLink="/homepage" class="drawer-link">
        <i class="bi bi-house-door"></i> Visualization
      </a>
      <a routerLink="/visualization" class="drawer-link">
        <i class="bi bi-robot"></i> AI Tools
      </a>
      <a routerLink="/climate" class="drawer-link">
        <i class="bi bi-cloud"></i> Climate Data
      </a>
      <a routerLink="/setting" class="drawer-link">
        <i class="bi bi-gear"></i> Settings
      </a>
    </div>
  </div>
</div>
